@font-face {
  font-family: "Muli";
  src: url("../styles/fonts/webfont-extrabold_0873_34.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Muli";
  src: url("../styles/fonts/webfont-bold_61fd_35.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Muli";
  src: url("../styles/fonts/webfont_2f50_36.ttf") format("truetype");
  font-weight: normal;
}