* {
    box-sizing: border-box;
}
body {
    font-family: 'PT Sans', sans-serif;
    color: #3d3d3d;
}
p {
    font-size: 17px;
    line-height: 1.4;
    font-family: 'PT Sans', sans-serif;
    color: #222;
}

.clear
{
    clear: both;
}

.center-text
{
    text-align: center;
}
.container {
    position: relative;
    display: block;
    max-width: 960px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
h2 {
    font-size: 31px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    line-height: 1.3;
    color: #222;
    text-align: center;
    padding-bottom: 15px;
}
section.block-1 {
    background-color: #fbfbfb;
    width: 100%;
}
section.block-1 {
    display: inline-block;
    background-image: url(../img/top.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    padding-bottom: 20px;
    max-width: 2618px;
    width: 100%;
    height: auto;
}
section.block-1 img.logo {
    padding-top: 10px;
    display: block;
    float: left;
    width: 28%;
}

section.block-1 h4 {
    color: #000;
    font-size: 22px;
    line-height: 1.3;
    padding: 20px 0 20px 0;
    font-family: "Lato", sans-serif;
    font-weight: 700;
}

.left-top
{
    margin-top: 10px;
    float: left;
    width: 60%;
    
}

.bold
{
    font-weight: 600;
}

.left-top h2
{
    text-align: left !important;
}

.right-top
{
    margin: 0 auto;
    margin-top: 0px;
    padding-top: 0px;
    float: right;
    width: 38%;
    position: relative;
    display: block;
    text-align: center;
}

.mg-a
{
    margin: 0 auto;
    display: inline-grid;
    position: relative;
}


section.block-1 h1 {
    color: #000;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.3;
    display: inline-block;
    padding: 10px 0;
    margin-top: 15px;
    font-family: 'lato heavy', sans-serif;
}
section.block-1 h4 {
    color: #000;
    font-size: 22px;
    line-height: 1.3;
    padding: 20px 0 20px 0;
    font-family: "Lato", sans-serif;
    font-weight: 700;
}
section.block-1 ul {
    list-style: none;
    margin-bottom: 20px;
}
section.block-1 ul li {
    font-size: 20px;
    color: #000;
    padding-left: 50px;
    padding-bottom: 20px;
    font-family: "Lato", sans-serif;
}
section.block-1 ul li:before {
    content: '';
}
section.block-1 ul li i {
    box-sizing: content-box;
    color: #c23024;
    font-size: 23px;
    font-weight: 400;
    line-height: 1;
    height: 44px;
    width: 50px;
    position: absolute;
    left: 20px;
}
section.block-1 figure img.detosil {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 90px;
    z-index: 9;
}
section.block-1 figure img.leafs {
    position: absolute;
    top: 57%;
    transform: translateY(-50%);
    right: 0;
}
section.block-1 a.cta {
    color: #fff;
    text-decoration: none;
    background-color: #009928;
    font-size: 20px;
    line-height: 1.3;
    padding: 15px 75px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 15px;
    font-weight: 700;
    width: 280px;
    margin-bottom: 10px;
}

section.block-1 a.cta:hover
{
    background-color: #00771f;
}

section.block-1 span {
    border-radius: 10px;
    padding: 10px;
    background: #c23024;
    width: 280px;
    color: #fff;
    text-align: center;
}
section.block-2 {
    border-top: 3px solid #2222
    background-color: #eeeeee;
    padding: 45px 0;
    float: left;
    width: 100%;
}
section.block-2 article {
    width: 75%;
    float: right;
}
section.block-2  img {
    position: relative;
    max-width: 200px;
}
section.block-2 article h2 {
    text-align: left;
    padding-bottom: 15px;
}
section.block-2 article p.sign {
    padding-top: 20px;
    text-align: right;
}
section.block-2 article p.sign span {
    font-weight: 700;
    display: block;
}
section.block-3,
section.block-4 {
    background-color: #fff;
    padding: 45px 0;
    float: left;
    width: 100%;
}
section.block-4 {
    background: #e7e7e7;
    padding-top: 15px;
    padding-bottom: 20px;
}
section.block-3 h2 {
    padding-bottom: 40px;
}
section.block-3 img {
    position: relative;
    float: right;
    width: 20%;
}

.frame-2
{
    width: 80%;
    margin: auto;
    padding: 20px;
    background: #E7E7E7;
    display: table;
    border: 3px solid #22222257;
    margin-bottom: 25px;
}

.frame-2 p
{
    float: left;
    width: 68%;
}

section.block-3 p {
    display: inline-block;
    padding-bottom: 20px;
}
section.block-4 p {
    padding-bottom: 20px;
}
section.block-4 img + p,
section.block-4 p + p {
    width: 55%;
    display: inline-block;
}

section.block-4 .bike
{
    max-width: 370px;

}

section.block-4 h5 {
    font-weight: 700;
    font-size: 20px;
}

section.block-4 .small-article
{
    width: 100% !important;
}
section.block-5 {
    background-color: #a4a4a4;
    width: 100%;
    float: left;
}

section.block-5 p {
    color: #fff;
}
section.block-5 .col {
    width: 33%;
    display: inline-block;
    padding: 15px 25px 30px 25px;
    text-align: center;
    vertical-align: top;
}
section.block-5 .col i {
    color: #c23024;
    font-size: 51px;
    font-weight: 400;
    line-height: 1;
    padding-bottom: 20px;
}
section.block-6 {
    background-color: #fff;
    float: left;
    width: 100%;
    padding: 25px 0;
}
section.block-6 p {
    padding-bottom: 25px;
}
section.block-6 img {
    padding-left: 25px;
    float: right;
    max-width: 300px;
    display: inline-block;
}
section.block-6 p.orange {
    background-color: #b30028;
    color: #fff;
    padding: 15px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    width: 70%;
    line-height: 1.5;
    margin-bottom: 20px;
}
section.block-7 {
    background-color: #fff;
    width: 100%;
    float: left;
    padding: 25px 0;
}
section.block-7 h2 {
    font-size: 37px;
    padding-bottom: 45px;
}

section.block-7 h3
{
    font-size: 24px;
    padding-bottom: 45px;
    text-align: center;
    color: #F8A400;
    padding-top: 35px;
}
section.block-7 ul {
    list-style: none;
    max-width: 765px;
    display: block;
    margin: auto;
}

section.block-7 .article-1
{
    display: block;
    margin-top: 100px;
}

section.block-7 .img-2
{
    max-width: 700px;
    float: none;
    margin-left: auto;
    margin-right: auto;
}

section.block-7 .article-2
{
    display: block;
    margin-top: 50px;
}
section.block-7 ul li {
    clear: both;
}
section.block-7 ul li:before {
    content: '';
}
section.block-7 ul li img {
    display: inline-block;
    float: right;
}
section.block-7 ul li h4 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 1.3;
    padding-bottom: 15px;
}
section.block-7 img {
    padding-left: 25px;
    float: right;
    max-width: 300px;
    display: inline-block;
}
section.block-8 {
    background: url(../img/bg-block8.png) center no-repeat;
    width: 100%;
    height: 514px;
    float: left;
    padding: 38px 0;
}
section.block-8 article {
    max-width: 800px;
    display: block;
    margin: auto;
    background-color: #fff;
    border: 3px solid #a4a4a4;
    padding: 25px 70px;
}
section.block-8 article h2 {
    font-size: 35px;
}
section.block-8 article ul {
    list-style: none;
}
section.block-8 article ul li {
    padding-left: 40px;
    font-family: "source sans pro";
    font-size: 22px;
    font-weight: 300;
    padding-bottom: 15px;
    line-height: 1.3;
}
section.block-8 article ul li:before {
    content: url(../img/1920px_Halier_Hairvity_landing_cut_18.png);
    left: 0;
    top: 5px;
}

section.block-8-1 {
    background-color: #c23024;
    width: 100%;
    float: left;
    padding: 25px 0;
}
section.block-8-1 .container {
    padding: 0 50px;
}
section.block-8-1 h2 {
    color: #fff;
    padding-bottom: 20px;
    font-family: "Source Sans Pro";
    font-size: 32px;
    font-weight: 400;
    line-height: 1.3;
    text-align: center;
}
section.block-9 {
    background-color: #c23024;
    width: 100%;
    float: left;
    padding: 25px 0;
}
section.block-9 .container {
    padding: 0 50px;
}
section.block-9 h3 {
    color: #fff;
    padding-bottom: 20px;
    font-family: "Source Sans Pro";
    font-size: 30px;
    font-weight: 400;
    line-height: 1.3;
    text-align: center;
}
section.block-9 h2 {
    margin-top: 15px;
    color: #fff;
    text-align: center;
}
section.block-10 {
    background-color: #fff;
    float: left;
    width: 100%;
    padding: 25px 0;
}
section.block-10 ul {
    list-style: none;
}
section.block-10 ul li {
    padding-left: 300px;
    padding-bottom: 25px;
    margin-top: 25px;
    border-bottom: 2px solid #e3e3e3;
}
section.block-10 ul li:last-of-type {
    border-bottom: none;
}
section.block-10 ul li:before {
    content: '';
}
section.block-10 ul li p.sign {
    text-align: right;
}
section.block-10 ul li p.sign span {
    font-weight: 700;
    padding-top: 10px;
    display: block;
}
section.block-10 ul li img {
    position: absolute;
    left: 0;
    top: 0;
    width: 230px;
}
section.block-10 ul li h4 {
    color: #b34546;
    font-size: 23px;
    font-weight: 700;
    line-height: 1.3;
    padding-bottom: 15px;
}
section.block-10 ul li img.wyniki {
    position: relative;
    width: 100%;
}
section.block-11 {
    background-color: #e7e7e7;
    width: 100%;
    float: left;
    padding: 25px 0 50px 0;
    margin-top: 10px;
}
section.block-11 h2 {
    padding-bottom: 25px;
}
section.block-11 p {
    padding-bottom: 35px;
    width: 100%
}
section.block-11 img {
    position: absolute;
    top: 50px;
    right: 75px;
}
section.block-11 img + img {
    top: 250px;
}
section.block-12 {
    background-color: #fff;
    width: 100%;
    float: left;
    padding: 25px 0 25px 0;
}

section.block-12 p
{
    padding-bottom: 15px;
}
section.block-12 ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
section.block-12 ul li {
    padding-left: 10px;
    padding-bottom: 25px;
}
section.block-12 ul li:before {
    content: url(../img/1920px_Halier_Hairvity_landing_cut_18.png);
    left: -25px;
}
section.block-12 ul li h5 {
    font-size: 22px;
    color: #222;
    padding-bottom: 15px;
}
section.block-13 {
    background-color: #f1f1f1;
    width: 100%;
    float: left;
    padding: 25px 0;
}
section.block-13 p {
    padding-bottom: 25px;
    line-height: 1.6;
}
section.block-14 {
    background-color: #ffffff;
    padding: 35px 0;
    float: left;
    width: 100%;
}
section.block-14 .container .col {
    width: 33%;
    float: left;
    padding-right: 50px;
}
section.block-14 .container .col h4 {
    font-size: 20px;
    font-weight: 600;
    font-family: Arial;
    padding-bottom: 25px;
    text-align: center;
}
section.block-14 .container .col p {
    text-align: left;
    font-size: 18px;
    line-height: 1.3;
}
section.block-15 {
    background: url(../img/serca2.jpg);
    background-position: top left;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    float: left;
}
section.block-15 .container {
    background-image: url(../img/gwarancja_pusta-1.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 130px 0;
    text-align: center;
}
section.block-15 .container h5 {
    font-family: georgia;
    font-size: 28px;
    font-weight: 700;
    color: #5b5b5b;
    margin-top: -20px;
}
section.block-15 .container p {
    width: 35%;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 12px;
    padding: 15px 0;
    font-family: georgia;
}
section.block-15 .container span {
    font-style: italic;
    color: #5b5b5b;
    font-size: 20px;
    font-family: georgia;
    font-weight: 700;
}
section.block-16 {
    background-color: #ffffff;
    padding: 10px 0;
    width: 100%;
    float: left;
}
section.block-16 .container p {
    padding-bottom: 20px;
    font-size: 18px;
}
section.block-16 .container h2,
section.block-16 .container img,
section.block-16 .container .price {
    text-align: center;
}
section.block-16 .container h2 {
    padding-top: 25px;
    font-size: 30px;
    font-weight: 400;
}
section.block-16 .container img {
    display: block;
    margin: auto;
    max-width: 700px;
   /*margin-left: -210px !important;*/
}
section.block-16 .container .price {
    font-size: 30px;
    font-weight: 400;
    color: rgb(0, 171, 40);
}
section.block-16 .container .price span {
    text-decoration: line-through;
    color: #222222;
}
section.block-16 .container p.lead {
    text-align: center;
}
section.block-17 {
    background-color: #ffffff;
    width: 100%;
    float: left;
}
section.block-17 h1.light-line {
    padding-top: 0;
}
@media only screen and (max-width: 960px) {

    p, h3, h1, h4, h2 {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    section.block-1 a.cta {
        width: 250px;
        padding: 15px 20px;
    }

    section.block-1 span
    {
        width: 250px;
    }

    .frame-1 {
        display: inline-block;
    }
    .container {
        max-width: 730px;
    }
    section.block-1 .container {
        background-size: 63%;
        background-position: right bottom;
    }
    section.block-2 article img {
        max-width: 40%;
        top: 10px;
    }
    section.block-2 article {
        width: 56.5%
    }
    section.block-3 img {
        top: 130px;
    }
    section.block-3 p {
        width: 65%;
    }
    section.block-4 img {
        max-width: 305px;
        margin-top: 120px;
    }
    section.block-5 .col {
        width: 32.9%;
    }
    section.block-6 p.orange {
        width: 100%;
    }
    section.block-17 div#order-page {
        margin-top: 0 !important;
    }
    section.block-4 .bike 
    {
        max-width: 300px;

        right: 10px;
    }
}
@media only screen and (max-width: 729px) {

    .button-order {
        max-width: 280px !important;
    }

    p, h3, h1, h4, h2 {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    section.block-1 img.logo {
        width: 55%;
        margin-top: 20px;
    }
    section.block-8 {
        background-size: cover;
        height: auto;
    }

    .left-top, .right-top {
        margin-top: 0px;
        float: none;
        width: 100%;
    }

    .frame-3 p {
        width: 100% !important;
        float: none !important;
    }

    .frame-3 img {
        margin-top: 60px;
        width: 100% !important;
        float: none !important;
    }

    .frame-4 p {
        width: 100% !important;
        float: none !important;
    }

    .frame-4 img {
        margin-top: 60px;
        width: 100% !important;
        float: none !important;
    }

    section.block-4 .bike {
        max-width: 300px;
        margin-top: 0 !important;
        padding-bottom: 0;
        right: 0 !important;
    }

    section.block-4 img {
        display: block;
        margin: auto;
        position: relative;
        padding-top: 0px  !important;
        margin-bottom: 0px !important;
        margin-top: 0px !important;
    }

    section.block-3 img {
        width: 50%;
    }
    .frame-2 {
        width: 100%;
    }
    .container {
        max-width: 90%;
    }

    h2 {
        font-size: 25px;
    }
    section.block-1 .container {
        background-size: 94%;
        background-position: left 77%;
    }
    section.block-1 h1 {
        font-size: 23px;
    }
    section.block-1 ul {
        margin-bottom: 5px;
    }
    .top-txt {
        font-size: 24px !important;
        margin-top: 20px !important;
        margin-bottom: 25px !important;
    }
    .frame-1 {
        display: inline-block;
        text-align: center;
    }
    .frame-1 article {
        margin-top: 10px;
        text-align: left;
    }
    section.block-1 ul li {
        padding-bottom: 10px;
        font-size: 18px;
    }
    section.block-2 article {
        width: 100%;
    }
    section.block-2 {
        padding: 15px 0;
    }
    section.block-2 article img {
        position: relative;
        top: unset;
        max-width: 100%;
        padding-bottom: 15px;
    }
    section.block-3 p {
    	width: 100%;
    }
    section.block-3 img {
    	position: relative;
    	top: unset;
    	right: unset;
    	display: block;
    	margin: auto;
    }
    section.block-3, section.block-4 {
    	padding: 25px 0;
    }
    section.block-4 img + p, section.block-4 p + p {
    	width: 100%;
    }
    section.block-4 img {
    	display: block;
    	margin: auto;
    	position: relative;
    	padding-top: 25px;
        margin-bottom: 270px;
        margin-top: -270px;
    }

    section.block-8 article ul li {
        font-size: 16px !important;
        line-height: 1.2 !important;
    }

    section.block-7 img {
        padding-left: 0px;
        float: unset;
        display: block;
        margin: 0 auto;
    }
   
    section.block-7 .img-2 
    {
        max-width: 100%;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    section.block-8 ul{
        padding: 20px 10;
    }
    .block-1 ul{
        max-width: 280px;
    }
    .block-1 h1{
        padding-top: 42px !important;
        font-size: 18px !important;
    }
    .phone-box {
        left: unset;
        right: 0px;
    }
    section.block-5 .col {
    	width: 100%;
    }
    section.block-6 h2 {
    	font-size: 26px;
    }
    section.block-6 img {
    	float: none;
    	padding: 0;
    	display: block;
    	margin: 20px auto;
    }
    section.block-6 p.orange {
    	width: 100%;
    }
    section.block-7 {
    	padding-top: 0;
    }
    section.block-7 h2 {
    	font-size: 27px;
    	padding-bottom: 0;
    }
    section.block-7 ul li {
    	padding-top: 15px;
    }
    section.block-7 ul li img {
    	float: none;
    	display: block;
    	margin: auto;
    }
    section.block-7 ul li h4 {
    	text-align: center;
    	font-size: 21px;
    }
    section.block-8 article {
    	padding: 0;
    }
    section.block-8 article h2 {
    	font-size: 25px;
    }
    section.block-8 article ul li:before {
    	left: 6px;
    }
    section.block-9 .container {
    	padding: 0;
    }
    section.block-9 h3 {
    	font-size: 22px;
    }
    section.block-10 ul li {
    	padding-left: 0;
    }
    section.block-10 ul li img {
    	position: relative;
    	display: block;
    	margin: auto;
    	padding-bottom: 15px;
    }
    section.block-10 ul li h4 {
    	text-align: center;
    }
    section.block-10 {
    	padding: 0;
    }
    section.block-11 p {
    	padding-bottom: 15px;
    	width: 100%;
    }
    section.block-11 img {
    	position: relative;
    	top: unset;
    	right: unset;
    }
    section.block-11 img + img {
    	top: unset;
    }
    section.block-11 img {
    	width: 49%;
    }
    section.block-12 ul {
    	padding-left: 25px;
    }
    section.block-14 .container .col {
    	width: 100%;
    	padding: 0 20px 25px 25px;
    }
    section.block-15 .container {
		padding: 80px 0;
    	background-size: 100%;
    	max-width: 320px;
	}
	section.block-15 .container p {
		width: 82%;
		font-size: 10px;
		padding: 5px 0;
		line-height: 1 !important;
	}
	section.block-15 .container span {
		font-size: 12px;
	}
	section.block-15 .container h5 {
		font-size: 16px;
		margin-top: -30px;
	}
	section.block-16 {
		padding-bottom: 15px;
	}
}

footer
{
    padding-top: 20px;
    padding-bottom: 20px;
    height: 120px;
    display: block;
}

footer p
{
    font-size: 12px;
}

.top-txt
{
    font-size: 36px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.vein
{
    border: 3px solid #b4b4b4;
    border-radius: 100%;
}

.bike {
    border: 3px solid #a4a4a4;
    border-radius: 100%;
}

.top-img-prod
{
    max-width: 250px;
    background: #ffffff66;
    margin: 15px auto;
    border-radius: 15px;
    border: 2px solid #b30028;
    margin-bottom: 25px;
}

.top-img-prod img
{
    max-width: 250px;
    width: 100%;
}

.frame-1
{
    background: #fff;
    padding: 15px;
    border: 3px solid #22222257;
}

.frame-3
{
    display: table;
    background: #fff;
    padding: 15px;
    border: 3px solid #22222257;
    margin-bottom: 20px;
}

.frame-3 p
{
    width: 65%;
    float: left;
}

.frame-3 img
{
    margin-top: 60px;
    width: 33%;
    float: right;
}

.frame-4
{
    display: table;
    background: #fff;
    padding: 15px;
    border: 3px solid #22222257;
    margin-bottom: 20px;
}

.frame-4 p
{
    width: 65%;
    float: left;
}

.frame-4 img
{
    margin-top: 10px;
    width: 33%;
    float: right;
}

.button-order
{
    margin: 10px auto;
    display: block;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    max-width: 300px;
    width: 100%;
    border: 1px solid transparent;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    background-color: #41a707;
    color: #fff;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    line-height: 1rem;
    border-radius: 10px;
}

.button-order:hover
{
    background-color: #00941d;
}

.button-order a
{
    color: #fff;
}

.button-order a:hover
{
    text-decoration: none;
}

.align{
    text-align: right;
}

@media (max-width:729px)
{
    .align{
        text-align: center;
    }
}
@media (max-width:961px)
{
    .block-3 img{
        display: none;
    }
    .block-3 p{
        width:100% !important;
    }
    .block-2 img{
        margin-top: 50px;
        margin-left: 50px;
    }
}